<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Repositorios-->
    <bean id="courseRepository"
          class="ui.repository.CourseRepository"
          init-method="initialize"/>

    <bean id="studentRepository"
          class="repository.StudentRepository">
        <constructor-arg ref="courseRepository"/>
    </bean>

    <!--Services-->
    <bean id="courseService"
          class="service.CourseService">
        <constructor-arg ref="courseRepository"/>
    </bean>

    <bean id="studentService"
          class="service.StudentService">
        <constructor-arg ref="studentRepository"/>
        <constructor-arg ref="courseRepository"/>
    </bean>

</beans>
